div {
	height: 50px;
	width: 100px;
	border: 2px solid black;
	border-radius: 5px;
	/*The display below adds the blocks right next to one another on the same line!*/
		display: inline-block;
}

#one {
	background-color: #FF0000;
}

#two {
	background-color: #0000FF;
}

#three {
	background-color: #FFD700;
}

#four {
	background-color: #308014;
}